@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Poppins", sans-serif !important;
  background-color: #fff;
}

html {
  font-size: clamp(16px, 1vw, 20px);
}

/* costumizing ant select */
.ant-select {
  width: 100% !important;
}
/* .card {
  position: relative;
  border: 1px solid red;
}
.card::after {
  position: absolute;
  transform-origin: left;
  height: 2px;
  width: 200px;
  background-color: red;
  top: 0;
}

.card:hover::after {
  transform: translateX(1);
  -webkit-transform: translateX(1);
  -moz-transform: translateX(1);
  -ms-transform: translateX(1);
  -o-transform: translateX(1);
} */

/* costuminzing ant datepicker */
.ant-picker {
  width: 100% !important;
}

/* costumizing ant tabs */
.ant-tabs {
  height: auto !important;
}
