@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Poppins", sans-serif !important;
  background-color: #fff;
}

html {
  font-size: clamp(16px, 1vw, 20px);
}

/* costumizing ant select */
.ant-select {
  width: 100% !important;
}

/* costuminzing ant datepicker */
.ant-picker {
  width: 100% !important;
}

/* costumizing ant tabs */
.ant-tabs {
  height: auto !important;
}

/* customizing slider */

.ant-slider {
  width: 100%;
}

.ant-btn .tour-sidebar {
  width: 70% !important;
}
